<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853906757161-g8c379dfhv49g1nvjpdlkoa5ei5e497p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853906757161-g8c379dfhv49g1nvjpdlkoa5ei5e497p</string>
	<key>API_KEY</key>
	<string>AIzaSyCRJMDqN6NYlg3FzseUUXziK7sbrLJQW5w</string>
	<key>GCM_SENDER_ID</key>
	<string>853906757161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kingazitapp</string>
	<key>PROJECT_ID</key>
	<string>king-azit</string>
	<key>STORAGE_BUCKET</key>
	<string>king-azit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853906757161:ios:bd5d54701ebe36182b6e38</string>
</dict>
</plist>